<header>
  <nav class="container flex-center-a">
    <div class="d-flex h-100" style="min-width: 250px;">
      <a class="flex-center-a" href="/templates/index.html">
        <img height="32" src="/static/common/img/logo/Logo-line@2x.png" class="img-oc">
      </a>
    </div>
    <div class="d-none d-lg-block mx-auto">
      <a class="btn header-link active" href="/templates/attractions.html">人氣景點網美</a>
      <a class="btn header-link" href="/templates/invite/inviteMe.html">邀約我</a>
      <a class="btn header-link" href="/templates/heartList.html">愛心清單</a>
    </div>
    <div class="d-none d-lg-flex align-items-center justify-content-end ch-gx-3" style="min-width: 250px;">
      <!-- <div class="flex-center-a"><img class="me-1" src="/static/common/img/svg/money.svg">可用額度 500,000</div> -->
      <a class="btn btn-white btn-round" href="/templates/notification.html"><img class="svg24" src="/static/common/img/svg/bell.svg"></a>
      <a class="btn btn-white btn-round" href="/templates/user/memberView.html"><img width="46" src="/static/common/img/svg/Avatar.svg"></a>
      <a class="btn" href="/templates/auth/login.html">登入</a>
    </div>
  </nav>
</header>