<header>
  <nav class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center" style="min-width: 155px;">
      <img height="32" src="/static/common/img/logo/Logo-line@2x.png" class="img-oc">
    </div>
    <div class="d-none d-lg-block">
      <a class="btn btn-outline-primary" href="">人氣景點網美</a>
      <a class="btn" href="">邀約我</a>
      <a class="btn" href="">愛心清單</a>
    </div>
    <div class="d-none d-lg-flex align-items-center">
      <div class="flex-center-a"><img src="/static/common/img/svg/money.svg"> 可用額度 5000</div>
      <button class="btn btn-white btn-round"></button>
      <button class="btn btn-white btn-round"></button>
    </div>
  </nav>
</header>