<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut Icon" type="image/x-icon" href="/static/common/img/logo/Logo@3x.png">
  <title></title>

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- core -->
  <script src="/static/core/jquery-3.5.1/jquery-3.5.1.min.js"></script>
  <link href="/static/core/bootstrap-5.1.3/css/bootstrap-custom.css" rel="stylesheet">
  <script src="/static/core/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>

  <!-- plugins -->
  <link href="/static/plugins/fontawesome-free-5.15.1-web/css/all.min.css" rel="stylesheet">
  <script src="/static/plugins/svg-inject-v1.2.3/svg-inject.min.js"></script>
  
  <!-- main -->
  <link href="/static/common/css/main.css" rel="stylesheet">
  <script src="/static/common/js/main.js"></script>
</head>
<body>
  <div id="wrap">
    <header>
      <script>$.get('include/header.html', (res)=>{ $('header')[0].outerHTML=res } )</script>
    </header>
    
    <main>
      <div class="container">
        <h1> 123</h1>
        <div>
          <button class="btn btn-brand"><img class="svg24 me-2" src="/static/common/img/svg/Arrow.svg" onload="SVGInject(this)"> 123</button>
          <button class="btn btn-brand" disabled>123</button>
          <button class="btn btn-brand-ol"><img class="svg24 me-2" src="/static/common/img/svg/Edit.svg" onload="SVGInject(this)"> 123</button>
          <button class="btn btn-brand-ol" disabled>123</button>
          <button class="btn btn-white"><img class="svg24 me-2" src="/static/common/img/svg/free.svg" onload="SVGInject(this)"> 123</button>
          <button class="btn btn-brand-rv" disabled>123</button>
          <button class="btn btn-brand btn-round"><img class="svg24" src="/static/common/img/svg/search.svg" onload="SVGInject(this)"></button>
          <label class="ckb">
            <input type="radio">
            <span>123</span>
          </label>
          <label class="ckb">
            <input type="radio" disabled>
            <div>123<br>456</div>
          </label>
          <label class="ckb ckbBox">
            <input type="checkbox">
            <div>
              <div>
                <div class="">Title</div>
                <div class="desc">Description</div>
              </div>
            </div>
          </label>
          <label class="ckb ckbBox ckbHide">
            <input type="checkbox">
            <div>
              <div class="withIcon">
                <img class="svg24 me-2" src="/static/common/img/svg/heart.svg">
                Selector
              </div>
            </div>
          </label>
        </div>
      </div>
    </main>

    <div id="modal">
      <script>$.get('include/modal.html', (res)=>{ $('#modal')[0].outerHTML=res } )</script>
    </div>

    <footer>
      <script>$.get('include/footer.html', (res)=>{ $('footer')[0].outerHTML=res } )</script>
    </footer>
  </div>
</body>
</html>